@charset "UTF-8";
html {
    -webkit-text-size-adjust: none;
}
body {
    background: #ffffff;
    font-family: 'VolvoNovum-Light',Helvetica Neue,-apple-system,"system-ui",BlinkMacSystemFont,sans-serif;
}
* {
    font-family: 'VolvoNovum-Light',Helvetica Neue,-apple-system,"system-ui",BlinkMacSystemFont,sans-serif;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    outline: none;
}
.cont-tit small {
    font-size: smaller;
}

.block-tabs.tabs-info .tab-content.active .block-full-hor {
    background-color: #F4F4F4;
}    
.separa {
    width: 100%;
    clear: both;
    height: 1px;
    display: block;
    margin: 0;
    padding: 0;
}
.aleft {
    float: left;
}
.aright {
    float: right;
}
.center {
    margin: 0 auto!important;
    display: block!important;
}
.anone {
    float: none!important;
}
.hide {
    display: none!important;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.text-center {
    text-align: center!important;
}
.hide {
    display: none;
}
.container {
    width: 100%}
.auxi {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.responsive {
    display: none!important;
}
.only-desktop {
    display: block;
}
.access1 {
    height: 0;
    width: 100%;
    color: #fcfcfc;
    overflow: hidden;
}
select, input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
select {
    background: url(/volvo/imag/v1/icon/arrow.png) no-repeat right 10px #fff;
}
.cont_enc {
    margin: 20px 0;
}
#main {
    width: 100%;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    padding: 0;
}

button.btn_close {
    background: 0 0;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    margin-right: 0;
    float: right;
    position: relative;
    bottom: 20px;
    right: -20px;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 25px 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #1C2B4D;
}
.container:hover input~.checkmark {
    background-color: #ccc;
}
.container input:checked~.checkmark {
    background-color: #2196f3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked~.checkmark:after {
    display: block;
}
.container .checkmark:after {
    content: '';
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
